* {
    font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;
}

/* Background */

.background {
    min-height: 100vh;
    background: linear-gradient(120deg,
            #0f2027,
            #203a43,
            #2c5364,
            #1c1f2b,
            #2b5876);

    background-size: 300% 300%;
    animation: gradientMove 18s ease infinite;
    color: white;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
    background:#0f172a;
    /* z-index:1000; */
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#00e5ff;
}

.nav-links{
    display:flex;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00e5ff;
}

/* hamburger hidden on desktop */
.menu-icon{
    display:none;
    font-size:26px;
    cursor:pointer;
}

.scroll-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #00f5ff;
    transition: width .1s;
}

.logo {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    background: linear-gradient(135deg, #00f5ff, #3a7bd5);
    color: black;
}

.nav-links {
    display: flex;
    gap: 28px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;

}

.nav-links a {
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #00f5ff;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-icon span{
display:block;
width:25px;
height:3px;
background:white;
margin:5px 0;
}

/* SECTION */

.section {
    padding: 110px 10%;
    text-align: center;
    scroll-margin-top:90px;
}

.section h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 60px;
}

.section p {
    font-size: 18px;
}

/* HERO */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-text {
    flex: 1;
    text-align: left;
}

.hero-text h1 {
    font-size: 64px;
    font-weight: 800;
}

.summary {
    margin: 20px 0;
    font-size: 22px;
    line-height: 1.6;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 420px;
    border-radius: 50%;
    border: 5px solid #00f5ff;
    box-shadow: 0 0 35px rgba(0, 245, 255, .6);
    animation: floatHero 5s ease-in-out infinite;
}

@keyframes floatHero {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.badge-container {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 10px;
}

.hero-badge {
    width: 90px;
    height: auto;
    border-radius: 8px;
    opacity: 1;
    transition: transform 0.3s ease;
}

.hero-badge:hover {
    transform: scale(1.1);
}

/* SOCIAL */

.social-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    background: #00f5ff;
    border-radius: 25px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.social-icon {
    width: 24px;
}

/* SKILLS */

.skill-icon {
    width: 50px;
}

.tech-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:30px;
    margin-top:40px;
}

.tech-card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    text-align:center;
    transition:.3s;
}

.tech-card img{
    width:50px;
    margin-bottom:10px;
}

.tech-card h2{
    font-size: 16px;
}

.tech-card:hover{
    transform:translateY(-6px) scale(1.05);
    box-shadow:0 10px 30px rgba(0,255,255,.2);
}

/* CARDS */

.vertical-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    width: 300px;
    padding: 22px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.25);
    transition: all .35s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.card h2 {
    font-size: 20px;
}

.card a {
    font-size: 16px;
    color: #00f5ff;
}

/* TIMELINE */

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.skill-tag{
    background:#00d4ff22;
    border:1px solid #00d4ff55;
    color:#00e5ff;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
}

/* vertical line */

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background: #00f5ff;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* timeline item */

.timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
}

/* left side */

.timeline-item.left {
    left: 0;
}

/* right side */

.timeline-item.right {
    left: 50%;
}

/* card */

.timeline-content {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
    text-align: left;
    min-height: 120px;
}

/* dots */

.timeline-item::before {
    content: '';
    position: absolute;
    top: 35px;
    width: 16px;
    height: 16px;
    background: #00f5ff;
    border-radius: 50%;
    z-index: 2;

    animation: pulse 2s infinite;
}

.timeline-item.left::before {
    right: -8px;
}

.timeline-item.right::before {
    left: -8px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 245, 255, .6);
    }
    70% {
        box-shadow: 0 0 0 12px rgba(0, 245, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 245, 255, 0);
    }
}

/* dot left */

.timeline-item.left::before {
    right: -9px;
}

/* dot right */

.timeline-item.right::before {
    left: -9px;
}

.exp-header {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 10px;
}

.exp-desc {
    line-height: 1.6;
    font-size: 15px;
    opacity: .9;
}

.experience-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background: white;
    border-radius: 8px;
    padding: 4px;
}

.exp-title h3 {
    font-size: 20px;
    margin: 0;
}

.exp-title h4 {
    font-size: 16px;
    opacity: .8;
    margin: 2px 0;
}

.date-text {
    font-size: 13px;
    opacity: .7;
}

.exp-hover-image {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;

    opacity: 0;
    transform: scale(.9);
    transition: .4s;
    max-height: 0;
    overflow: hidden;
}

.exp-card:hover .exp-hover-image {
    opacity: 1;
    transform: scale(1);
    max-height: 400px;
}

.project-card {
    display: flex;
    flex-direction: column;
}

.project-card p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* MODAL */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn .3s ease;
}

.modal-content {
    background: linear-gradient(145deg,#1a1a2e,#16213e);
    border-radius: 16px;
    width: 65%;
    max-width: 900px;
    max-height: 85vh;
    overflow-y: auto;
    padding: 35px;
    position: relative;
    box-shadow: 0 10px 40px rgba(0,0,0,.6);
    border: 1px solid rgba(255,255,255,.08);
}

.modal-content h2{
    font-size: 28px;
    margin-bottom: 12px;
}

.modal-project-image{
    width:100%;
    border-radius:10px;
    margin:20px 0;
    height: auto;
}

.modal-content p{
    line-height: 1.6;
    color:#d1d1d1;
    font-size: 18px;
}

.modal-content a {
    font-size: 16px;
    color: #00f5ff;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
    color: #aaa;
    transition: .2s;
}

.modal-close:hover{
    color: white;
    transform: scale(1.1);
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.9);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

/* CONTACT */

.contact-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:120px;
    max-width:1200px;
    margin:auto;
    margin-top:50px;
}

.contact-text{
    flex:1;
}

.contact-text h1{
    font-size: 50px;
}

.contact-text h2{
    font-size: 24px;
}

.contact-form{
    flex:1;
    background:#2b3542;
    padding:45px;
    border-radius:16px;
    width:520px;
    box-shadow:0 20px 50px rgba(0,0,0,.4);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border-radius:8px;
    border:none;
}

.contact-form textarea{
    height:120px;
}

.contact-form button{
    width: 100%;
    background:#007bff;
    color:white;
    padding:8px 16px;
    border:none;
    border-radius:20px;
}


/* SCROLL REVEAL */

.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:opacity .7s ease, transform .7s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

.wave {
    height: 110px;
    background: linear-gradient(135deg, #00d2ff, #3a7bd5);
    clip-path: polygon(0% 60%,
            10% 70%,
            20% 60%,
            30% 75%,
            40% 60%,
            50% 80%,
            60% 60%,
            70% 75%,
            80% 60%,
            90% 70%,
            100% 60%,
            100% 100%,
            0% 100%);
}


/* RESPONSIVE */

@media(max-width:768px) {

    .nav-links{
        position:absolute;
        top:70px;
        right:0;
        background:#0f172a;
        flex-direction:column;
        width:220px;
        padding:20px;
        gap:15px;
        transform:translateX(100%);
        transition:.3s;
    }

    .nav-links.active{
        transform:translateX(0);
    }

    .menu-icon{
        display:block;
    }

    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text {
        text-align: center;
    }

    .timeline::after {
        left: 20px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 60px;
        padding-right: 25px;
    }

    .timeline-item.right {
        left: 0;
    }

    .timeline-item.left {
        left: 0;
    }

    .timeline-item::before {
        left: 11px;
    }

}